{{extend 'layout.html'}}

{{=message}}

<div id="descricao_produto">
	<form id="produto_form" method="post" action={{=URL(request.application, c='default', f='add_cart', vars={'nome':'notebook', 'descricao':'Notebook LG A520 Intel i3 4gb HD 500gb', 'preco':'1200.00'})}}>
		<h3>Nome</h3>
		<p>Notebook</p>
		<img src="https://s3-sa-east-1.amazonaws.com/hackthon-cpbr7/images/notebook.jpg" border="0" alt="Imagens de solução">
		<h3>Descrição</h3>
		<p>Notebook LG A520 Intel i3 4gb HD 500gb</p>
		<h3>Preço</h3>
		<p>R$ 1200,00</p>

	<div id="botao_comprar">
		
		<div id="comprar_normal">
			<input type="submit" value="Adicionar ao Carrinho"/>
		
			<a href={{=URL(request.application, c='default', f='pagamento')}}>
				<!-- PayPal Logo -->
				<img  src="https://www.paypal-brasil.com.br/logocenter/util/img/botao-checkout_horizontal_finalizecom_as.png" border="0" alt="Imagens de solução" />
				<!-- PayPal Logo -->
			</a>
		</div>

	</div>
	</form>

</div>
