<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--

Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Tastelessly
Description: A very light design suitable for community sites and blogs.
Version    : 1.0
Released   : 20080122

-->
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/Tastelessly/style.css'))}}
  {{response.files.append(URL('static','plugin_layouts/superfish.js'))}}
  {{response.files.append(URL('static','css/site_style.css'))}}
  {{include 'web2py_ajax.html'}}
  <style>
ul.web2py-menu-vertical { width: 150px; position: relative; top:1em; left:1em;  z-index:30; border:0; margin:0; padding: 0; list-style: none; text-decoration: none;}
ul.web2py-menu-vertical li { margin:0; padding:0; border:0; width: 150px; background: black; text-align:left;}
ul.web2py-menu-vertical li a { margin:0; padding: 1px 3px 1px 3px; border:0; width: 144px; color: white; font-size:12px;}
div.flash { position: fixed; float: right; padding: 10px; top: 10px; right: 30px; opacity: 0.75; margin: 10px 10px 10px 10px; text-align: center; clear: both; color: #fff; font-size: 11pt; text-align: center; vertical-align: middle; cursor: pointer; background: black; border: 2px solid #fff; -moz-border-radius: 5px; -webkit-border-radius: 5px; z-index: 2; }
div.error { background-color: red; color: white; padding: 3px; }
.auth_navbar { text-align:right; z-index:20; position: absolute; top: 2px; right:30px; border:0; padding:0 }
  </style>
 </head>
 <body>
  <!-- start header -->
  {{try:}}{{=auth.navbar(action=URL('default','user'))}}{{except:pass}}

  <!-- start header -->
  <div id="header">
   <div id="menu">
    <a href={{=URL(request.application, c='default', f='index')}}>Home</a>
    <a href={{=URL(request.application, c='default', f='produtos')}}>Produtos</a>
    <a href={{=URL(request.application, c='default', f='carrinho')}}>Carrinho</a>
    <a href={{=URL(request.application, c='default', f='sobre')}}>Sobre</a>
    <script>
      jQuery(document).ready(function(){jQuery('ul.web2py-menu').superfish({delay:400});});
    </script>
   </div>
   <div id="search">
    <form id="searchform" method="get" action="#">
     <fieldset>
      <input id="s" type="text" name="s" value="" class="text" />
      <input id="x" type="submit" value="Search" class="button" />
     </fieldset>
    </form>
   </div>
  </div>
  <div id="logo">
   <h1>
    Loja Hackthon PayPal #CPBR7
   </h1>
   <h2>
    Hackthon PayPal #CPBR7
   </h2>
  </div>
  <!-- end header -->
  <hr />
  <!-- start page -->
  <div id="page">
   <!-- start content -->
   <div id="content">
    <div class="flash"></div>
    {{include}}
   </div>
   <!-- end content -->
   <!-- start sidebar two -->
   <div id="sidebar2" class="sidebar">
    <ul>
     <li>
      <h2>
       Mais Vendidos
      </h2>
      <ul>
       <li>
        <a href={{=URL(request.application, c='default', f='produto')}}>
         Notebook LG A520 c/ Intel i3 4gb HD 500gb R$ 1200,00
        </a>
       </li>
       <li>
        <a href="#">
         Consectetuer elit
        </a>
       </li>
       <li>
        <a href="#">
         Metus pellentesque
        </a>
       </li>
       <li>
        <a href="#">
         Suspendisse mauris
        </a>
       </li>
       <li>
        <a href={{=URL(request.application, c='default', f='recusado')}}>
         Recusado
        </a>
       </li>
       <li>
        <a href={{=URL(request.application, c='default', f='sucesso')}}>
         Sucesso
        </a>
       </li>
      </ul>
     </li>
     <li>
      <h2>
       Formas de Pagamento
      </h2>
        <div id="pagamentos">
          <div id="pagamento_paypal">
            <p>PayPal</p>
            <!-- PayPal Logo -->
            <table border="0" cellpadding="10" cellspacing="0" align="center"><tr><td align="center"></td></tr>
              <tr><td align="center"><a href="#" onclick="javascript:window.open('https://www.paypal.com/br/cgi-bin/webscr?cmd=xpt/Marketing/popup/OLCWhatIsPayPal-outside','olcwhatispaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=400, height=350');"><img  src="https://www.paypal-brasil.com.br/logocenter/util/img/banners/seloPayPal.jpg" border="0" alt="Imagens de solução"></a></td></tr>
            </table>
            <!-- PayPal Logo -->
          </div>
          <div id="boleto">
            <p>Boleto</p>
            <!-- Boleto Logo -->
            <img  src="https://s3-sa-east-1.amazonaws.com/hackthon-cpbr7/images/boleto.jpg" border="0" alt="Imagens de solução" />
            <!-- Boleto Logo -->  
          </div>
        </div>
     </li>
     <li>
      <h2>
       Certificados de Segurança
      </h2>
        <div id="certificado_paypal">
          <!-- PayPal Lhttps://s3-sa-east-1.amazonaws.com/hackthon-cpbr7/images/boleto.jpgogo -->
          <img  src="https://www.paypal-brasil.com.br/logocenter/util/img/compra_segura_horizontal.png" border="0" alt="Imagens de solução" />
          <!-- PayPal Logo -->
        </div>  
     </li>
    </ul>
   </div>
   <!-- end sidebar two -->
   <div style="clear: both;">
    &nbsp;
   </div>
  </div>
  <!-- end page -->
  <hr />
  <!-- start footer -->
  <div id="footer">
   <p>
    &copy;2014 All Rights Reserved. &nbsp;&bull;&nbsp; Designed by
    <a href="http://www.freecsstemplates.org/">
     Free CSS Templates
    </a>
    .
   </p>
  </div>
  <!-- end footer -->
 </body>
</html>
