#content{
	
}
#certificado_paypal img{
	margin-left: 50px;
}
#pagamento_paypal p{
	margin-left: 30px;
}
#pagamento_paypal{
	margin-left: 70px;
}
#boleto{
	margin-left: 80px;
}
#boleto p{
	margin-left: 25px;
}
#descricao_produto img{
	float: right;
}
#comprar_normal{
	margin-top: 200px;
}
#comprar_normal input{
	width: 212px;
	height: 30px;
	border-radius: 10px;
	margin-left: 100px;
	margin-top: 5px;
}
#finalizar_compra{
	margin-top: 50px;
}
#finalizar_compra input{
	width: 212px;
	height: 30px;
	border-radius: 10px;
	margin-left: 100px;
}
